.subTitle{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.pageTitle{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-max-width: "Infinity";
}

.mainGrid {
    -fx-vGap: 20;
    -fx-hGap: 10;
    -fx-padding: 50 150;
    -fx-pref-width: 750;
    -fx-pref-height: 500;
}

.browseVBox{
    -fx-spacing: 10;
    -fx-pref-width: 700;
    -fx-pref-height: 600;
}

.validationLabel{
    -fx-font-size: 12px;
    -fx-text-fill: #FF0000;
    -fx-wrap-text: "true";
}

.generalErrorLabel{
    -fx-font-size: 16px;
    -fx-text-fill: #FF0000;
    -fx-wrap-text: "true";
    -fx-max-width: 200;
}

.verticalGridPane{
    -fx-hGap: 20;
    -fx-max-width: "Infinity"
}

.filterGridPane{
    -fx-hGap: 20;
    -fx-vGap: 10;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #AAAAAA;
}

.inputSectionGridPane{
    -fx-hGap: 20;
    -fx-vGap: 10;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #AAAAAA;
}

.borderedVBox{
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #AAAAAA;
}

.validatedInputVBox{
    -fx-spacing: 5;
}

.simpleGridPane{
    -fx-hGap: 20;
    -fx-vGap: 10;
    -fx-padding: 10;
}

.confirmButton{
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -fx-font-size: 18;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#6fbfff, #105bc4);
    -fx-padding: 5 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.confirmButton:hover{
    -fx-background-color: linear-gradient(#105bc4, #6fbfff);
}

.dangerButton{
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -fx-font-size: 18;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ff8e8e, #9b0606);
    -fx-padding: 5 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.dangerButton:hover{
    -fx-background-color: linear-gradient(#9b0606, #ff8e8e);
}