.title{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.mainGrid {
    -fx-vGap: 10px;
    -fx-hGap: 10px;
    -fx-padding: 10px;
}

.validationLabel{
    -fx-font-size: 12px;
    -fx-text-fill: #FF0000
}